html,
body,
#root,
canvas {
  margin: 0;
  padding: 0;

}

* {
box-sizing: border-box;
}

body{
  // background: white;
  height: 100vh;
  width: 0 auto;
  background-color: #2D3047;
  background-image: linear-gradient(147deg, #2D3047 0%, #eae6e5 74%);
  background-attachment: fixed;
  overflow: scroll;
}

.App {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.card{
  margin: 30px;
  padding: 15px;
  max-width: 500px;
  max-height: 700px;
  z-index: 10;
  background-color: #171717;
}

.button {
  float: right
}

.popup{
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  z-index: 100;
}

h1{
  text-align: center;
  color: white
}

.myCard {
  border-radius: 15px;
}

.cardAnimation{
  margin: 30px;
  padding: 15px;
  max-width: 500px;
  max-height: 500px;
  z-index: 10;
}