html,
body,
#root,
canvas {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

* {
box-sizing: border-box;
}

body{
  // background: white;
  background-color: #2D3047;
  background-image: linear-gradient(147deg, #2D3047 0%, #eae6e5 74%);
  background-attachment: fixed;
  overflow: scroll;
}

.card{
  margin: 30px;
  padding: 15px;
  max-width: 500px;
  max-height: 700px;
  z-index: 10;
  background-color: #548687;
}

.button {
  float: right
}

.popup{
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  z-index: 100;
}

h1{
  text-align: center;
  color: white
}

.myCard {
  border-radius: 15px;
}

.cardAnimation{
  max-width: 500px;
  max-height: 300px;
  z-index: 10;

  background: #548687;
  box-shadow: inset 20px 20px 60px #477273,
              inset -20px -20px 60px #619a9b;
}

#submit {
  float: right;
  margin: 10px 15px 15px 15px;
  padding: 15px;
  z-index: 10;
  font-size: 18px;
}

p{
  color: white;
  font-size: 15px;
}

h4{
  color: white;
  font-size: 18px;
  float: right;
}

@media only screen and (min-width: 1000px) {
  #cart {
    position: fixed;
    top: 0;
    right: 0;
  }
  h4 {
    text-align: center;
  }
}